
[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
keras = "*"
tensorflow = "*"
flask = "*"
flask_cors = "*"

[dev-packages]
ipython = "*"
pytest = "*"

[requires]
python_version = "3.6"